@model AM.ApplicationCore.Domain.Flight

<div>
   
    <dl class="row">
@*        <dt>nombre de passagers</dt>
        <dl> @Model.Tickets.Count()</dl>*@
        <dt>type Avion</dt>
        <dl> @Model.Plane.PlaneType</dl>
        <dt>Capacity Avion</dt>
        <dl> @Model.Plane.Capacity</dl>
    </dl>
</div>

